---
import Blog from '../layouts/Blog.astro';
import { format, parseISO } from 'date-fns';

const posts = await Astro.glob('../pages/blog/*.md')
//
---

<Blog>
  <h1 class="text-4xl pb-8">Blog</h1>
  <ul>
    {posts.map((post) => {
      console.log("title:", post.frontmatter.title)
      console.log("date:", post.frontmatter.date)
      console.log("date:", typeof(post.frontmatter.date))

      var dn = new Date();
      var ds = format(dn, 'yyyy-MM-dd')
      if (!!post.frontmatter.date) {
        ds = format(parseISO(post.frontmatter.date), 'yyyy-MM-dd')
      }

      return <li>
               <h2 class="text-2xl">
                 <time class="text-xl text-zinc-400 dark:text-zinc-500">{ds}</time>
                 <a href={post.url}>{post.frontmatter.title}</a>
               </h2>
             </li>
    })}
  </ul>
</Blog>
