---
import Home from '../layouts/Home.astro';
import Card from '../components/Card.astro';
---

<Home title="Welcome to Astro.">
  <main>
    <h1>Welcome to <span class="text-gradient">My website</span></h1>
    <p class="instructions"></p>
  </main>
</Home>
